@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #1152d4;
  --color-accent-gold: #d4af37;
  --color-bg-light: #f6f6f8;
  --color-bg-dark: #101622;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
